// Fuentes
$fuente_principal: 'Raleway', sans-serief;

// Colores
$principal  : #33c3f0;
$secundario : #741d51;
$terciario  : #e44e52;

$blanco     : #ffffff;
$gris       : #f2f2f2;
$negro      : #000000;
$verde      : green;


// Variables para los tamños de media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
